<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>
<div class="container">
<div class="row">
<div class="container-fluid px-sm-5">
  <section class="resume-section p-lg-5 d-flex align-items-center" id="note">
    <div class="w-100">
      <div class="header-title"><h2 class="mb-5"> Minhas notas </h2></div>
      <% @notes.each do |note| %>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between p-3 p-lg-5 shadow p-3 mb-5 rounded" style="background-color: #FFD700;">
          <div class="resume-content">
            <h3 class="mb-0"><%= note.title %> </h3> <br />
            <div> <%= note.description %> </div>
          </div>
          <div class="resume-date text-md-right"><br /> 
            <span class="text-primary"> dd/mm/yyyy </span> <br />
            <span class="text-primary"><%= link_to 'Show', note %> <br />
          <span class="text-primary"><%= link_to 'Edit', edit_note_path(note) %></span><br />
            <span class="text-primary"><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></span><br />
          </div>
        </div>
        <hr class="m-0"> <br />
      <% end %>
    </div>
  </section>
  <section class="p-sm-5 d-flex align-items-center">
      <div class="new-note-btn btn btn-warning"> <%= link_to 'Nova Nota', new_note_path %> </div>
  </section>
</div>
</div>
</div>
